Flask==2.2.5
flask-cors==4.0.2
pyVmomi==7.0.3
python-dotenv==0.19.2
Werkzeug==3.0.6
Jinja2==3.1.5
itsdangerous==2.0.1
click==8.0.4
six==1.16.0
requests==2.32.2
MarkupSafe==2.1.1
charset-normalizer==2.0.12
idna==3.7
urllib3==1.26.19
certifi==2024.7.4
